* {
    margin: 0;
    padding: 0;
}

.searchContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.thumbnail-image {
    width: 200px;  

}

#mainDrinkContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33.33333%;

}

.drinkContainer {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 300px;
}