* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}
.searchContainer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 600px;
    

}

.inputText, .searchButton, .randomButton {
    font-size: 36px;
    font-weight: bold;
    font-family: serif;
    background: white;
    color: black;
    border-radius: 10px;
    padding: 2px;
}

.inputText:hover, .searchButton:hover, .randomButton:hover {
    background-color: black;
    color: white;
}


.thumbnail-image {
    width: 300px;  
    border-radius: 50%;
}

.mainDrinkContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 350px;
    left: 1vw;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    white-space: nowrap;
    transition: all 2s;
    transform: scale(0.92);
    will-change: transform;
    user-select: none; 
    cursor: pointer;
}

.drinkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    font-size: 36px;
    color: white;
    justify-content: center;

}

.drinkContainer:hover {
    transform: scale(1.1)
}

.barContainer {
    display: flex;
    justify-content: center;
}

.bartenderImage {
    width: 80vw;
    height: 80vh;
}

.bartenderImage2 {
    position: absolute;
    z-index: 0;
    width: 80vw;
    height: 80vh;
 /*    transition:  */
}

.bartenderImage2:hover {
    display: none;

}

.readButton {
    font-size: 0.8vw;
    background: black;
    color: white;
/*     z-index: 1; */
}

.readButton:hover {
    color: red;

}

.barText {
    position:relative;
    overflow:hidden;
    width:300px;
    margin:0 auto;
    font-size: 1.02vw;
    font-weight: bolder;
    position: absolute;
    top:  11vh;
    left: 33vw;
    white-space: nowrap;
}
.fadingEffect {
    position:absolute;
    top:0; bottom:0; right:0;
    width:0%;
    background:white;
    animation-iteration-count: 1;
    animation: shower 2s  alternate ease-in;

}

@keyframes shower {
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:0%;}
}

.footer {
    display: flex;
    justify-content: center;
    color:white;
}

.apiLink {
    text-decoration: none;
    color:gray;
    font-size: 36px;
    margin-bottom: -50px;
}

.drinkName {
    font-size: 66px;
}